/*
	Author: Lumberjacks
	Template: Split (Coming Soon)
	Version: 1.1
	URL: http://themeforest.net/user/Lumberjacks/
*/



/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. Typography
	4. Breakpoint for high-res devices
	5. Header
	6. Icons
	7. Footer
	8. Breakpoints

*/



/* 1. IMPORT SECTION */

	@import url("bootstrap.css");
	@import url("http://fonts.googleapis.com/css?family=Lato:300,700,700italic&subset=latin,latin-ext");
	@import url("http://fonts.googleapis.com/css?family=Raleway:300,700&subset=latin,latin-ext");
	@import url("font-awesome.min.css");
	@import url("simpletextrotator.css");
	@import url("lj-color-switcher.css");


/* 2. BASIC STYLES */

	body {
		font: 16px/1.5 Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
		background-color: #fff;
		color: #262626;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	a { 
		color: #ed5565;
		transition: all 0.125s ease-in-out 0s;
		-moz-transition: all 0.125s ease-in-out 0s;
		-webkit-transition: all 0.125s ease-in-out 0s;
		-o-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
	}

	a:hover {
		color: #ed5565;
	}

	a, a:hover, a:active, a:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}

	.lj-float-left {
		float: left;
	}

	.lj-float-right {
		float: right;
	}
	
	.lj-block-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.lj-show {
		display: block !important;
	}
	
	.lj-hide {
		display: none !important;
		visibility: hidden !important;
	}

	.lj-preloader {
		background: #fff url('../img/preloader.gif') no-repeat center center;
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 99999;
	}



/* 3. TYPOGRAPHY */

	p {
		line-height: 1.5;
	}
    
	.lj-text-uppercase {
		text-transform: uppercase;
	}

	.lj-text-center {
		text-align: center;
	}

	.lj-text-left {
		text-align: left;
	}

	.lj-text-right {
		text-align: right;
	}

	.lj-text-justify {
		text-align: justify;
	}

	.lj-text-underline {
		text-decoration: underline;
	}



/* 4. BREAKPOINT FOR HIGH-RES DEVICES */

	@media
	  only screen and (-webkit-min-device-pixel-ratio: 2),
	  only screen and (   min--moz-device-pixel-ratio: 2),
	  only screen and (     -o-min-device-pixel-ratio: 2/1),
	  only screen and (        min-device-pixel-ratio: 2),
	  only screen and (                min-resolution: 192dpi),
	  only screen and (                min-resolution: 2dppx) {

	  	.lj-logo-1x {
			display: none !important;
		}
		
		.lj-logo-2x {
			display: block !important;
		}

	} 



/* 5. HEADER */

	header {
		width: 100%;
		overflow: hidden;
		position: relative;
		background-color: #212649 !important;
	}
	
	header > .container {
		height: 100%;
		padding: 100px 20px;
		position: relative;
		z-index: 1;
	}

	header > canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.lj-overlay {
		width: 100%;
		height: 100%;		
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.lj-background-repeat {
	    background-repeat: repeat;
	}
	
	.lj-background-no-repeat {
		background-repeat: no-repeat;
	}
	
	.lj-overlay-none {
		display: none;
		visibility: hidden;
	}

	.lj-overlay-image {
		background-image: url('../img/dots.png');
		background-repeat: repeat;
	}
	
	.lj-overlay-color {
	    background-color: rgba(0,0,0,0.3);
	}
	
	.lj-overlay-gradient {
		background: -moz-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%, rgba(196,255,0,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,204,255,0.8)), color-stop(100%,rgba(196,255,0,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* IE10+ */
		background: linear-gradient(215deg,  rgba(0,204,255,0.8) 0%,rgba(196,255,0,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#c4ff00',GradientType=1 ) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1x1.png'); /* IE6-9 fallback on horizontal gradient */
		pointer-events:none;
	}

	header.yt-background {
		background-image: url('../img/video.jpg');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}

	.mobile .mbYTP_wrapper,
	.tablet .mbYTP_wrapper {
		z-index: -1 !important;
	}

	.mobile .yt-controls,
	.tablet .yt-controls {
		display: none;
	}

	.yt-controls {
		margin-top: 30px;
		text-align: right;
	}

	.yt-controls a {
		display: inline-block;
		color: #fff;
		width: 20px;
	}

	.yt-controls a:hover { 
		color: #ed5565;
	}
	
	.lj-logo a,
	.lj-logo img {
		width: 100px;
		height: 60px;
	}
	
	.lj-logo a {
		display: block;
	}
	
	.lj-logo img {
	    vertical-align: bottom;
	}
	
	.lj-logo-1x {
		display: block;
	}
	
	.lj-logo-2x {
		display: none;
	}

	.lj-title {
        margin-top: 30px;
    }
    
    .lj-title h1 {
    	font-family: 'Raleway';
    	font-size: 3.5em;
    	font-weight: 300;
        color: #fff;
        margin: 0;
        word-wrap: break-word;
    }
    
    .lj-title span {
        color: #ed5565;
        font-weight: 700;
    }

	.lj-line {
		margin-top: 20px;
	}

    .lj-line > div {
    	width: 200px;
    	height: 1px;
    	background-color: #fff;
    }

    .lj-title-paragraph {
    	margin-top: 30px;
    }

    .lj-title-paragraph p {
    	color: #fff;
    	margin: 0;
    }

	.lj-subscribe-title h2 {
		font-family: 'Raleway';
		font-weight: 300;
		font-size: 3em;
		color: #262626;
		margin: 0;
	}

	.lj-subscribe-title h2 span {
		font-weight: 700;
	}

    .lj-subscribe-form {
    	margin-top: 30px;
    }

    .lj-subscribe-form input[type=text] {
    	width: 270px;
    	height: 60px;
    	display: block;
    	padding: 0 20px;    	
    	background-color: #fff;
        border: 1px solid #fff;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		line-height: 60px;
		color: #262626;
		float: left;
    }

    .lj-subscribe-form input:focus {
    	outline: 0;
    }
    
    .lj-subscribe-form input[type=submit] {
    	width: 130px;
    	height: 60px;
    	display: block;
    	padding: 0 10px; 
    	background-color: #ed5565;
        border: 1px solid #ed5565;
        color: #fff;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;        
		font-family: 'Raleway';
		font-weight: 700;	
		transition: all 0.125s ease-in-out 0s;
		-moz-transition: all 0.125s ease-in-out 0s;
		-webkit-transition: all 0.125s ease-in-out 0s;
		-o-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		float: left;
    }

    .lj-subscribe-form input[type=submit]:hover {
    	background-color: transparent;
    	border: 1px solid #fff;
    	color: #fff;
    }

    .lj-subscribe-message {
    	height: 2.5em;
    	padding: 10px 20px;
    	color: #fff;
    	font-size: 0.9em;
    	display: block;
		width: 100%;
		float: left;
    }

    .lj-subscribe-message i {
    	margin-right: 5px;
    }

	.lj-subscribe-message .fa-warning {
    	color: #ff5c5c;
    }

    .lj-subscribe-message .fa-check {
    	color: #2ecc71;
    }    


    
/* 6. ICONS */

	.icons {
		background-color: #fff;
	}

	.icons > .container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.lj-icon-box {
		padding: 0 20px;
	}

	.lj-icon-box span {
		display: inline-block;
		font-size: 2em;
		border-radius: 50%;
		text-align: center;
		color: #ed5565;	
		background-color: #fff;
	}

	.lj-icon-box h3 {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 1em;
		word-wrap: break-word;
		color: #262626;
	}

	.lj-icon-box p {
		font-size: 0.9em;
		color: #262626;
	}

	.lj-icon-box > a {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 0.85em;
		color: #262626;
		display: inline-block;
	}

	.lj-icon-box > a:hover {
		color: #ed5565;	
	}

	.lj-icon-box h3,
	.lj-icon-box p,
	.lj-icon-box > a {
		margin: 20px 0 0;
	}

	.lj-icon-box p a {
		font-weight: 700;
	}

	
	    
/* 7. FOOTER */

	footer {
		width: 100%;
		background-color: #f2f2f2;
	}

	footer > .container {
		padding-top: 30px;
		padding-bottom: 30px;
		color: #262626;
	}

	.lj-footer-socials ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style-type: none;
	}

	.lj-footer-socials li {
		display: inline-block;
		margin-right: 5px;
	}

	.lj-footer-socials li:last-child {
		margin-right: 0;
	}

	.lj-footer-socials li a {
		width: 40px;
		height: 40px;
		display: inline-block;
		line-height: 40px;
		text-align: center;
    	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: #d9d9d9;
		color: #fff;
		font-size: 1.25em;
	}

	.lj-footer-socials li a:hover {
		background-color: #ed5565;
		color: #fff;		
	}

	.lj-footer-copyrights p {
		font-size: 0.9em;
		line-height: 40px;
		margin: 0;
		text-align: right;
	}



/* 8. BREAKPOINTS */

	@media (max-width: 767px) {

		/* 5. HEADER */

		header,
		header > .container {
			height: auto;
		}

		.lj-logo a {
			margin: 0 auto;
		}

		.lj-title {
			text-align: center;
		}

		.lj-line > div {
			margin: 0 auto;
		}

		.lj-title-paragraph p {
			text-align: center;
			padding: 0 30px;
		}

		.lj-subscribe-form {
			padding: 0 30px;
		}

		.lj-subscribe-form input[type=text] {
			width: 65%;
		}

		.lj-subscribe-form input[type=submit] {
			width: 35%;
		}

		/* 6. ICONS */

		.lj-icon-box {
			text-align: center;
			margin-bottom: 50px;
		}

		.lj-icon-box:last-child {
			margin-bottom: 0;
		}

		.lj-icon-box span {
			font-size: 3em;
		}

		.lj-icon-box h3 {
			font-size: 1.3em;
		}

		.lj-icon-box p {
			font-size: 1em;
			padding: 0 20%;
		}

		.lj-icon-box > a {
			font-size: 1em;
		}

		/* 7. FOOTER */

		.lj-footer-socials ul {
			text-align: center;
		}

		.lj-footer-copyrights p {
			text-align: center;
		}

	}

	@media (max-width: 480px) {

		/* 5. HEADER */

		.lj-subscribe-form input[type=text],
		.lj-subscribe-form input[type=submit] {
			width: 100%;
			float: none;
		}

		.lj-subscribe-form input[type=text] {
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius-bottomleft: 0;
			border-bottom-left-radius: 0;
		}

		.lj-subscribe-form input[type=submit] {
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			-webkit-border-top-right-radius: 0;
			-moz-border-radius-topright: 0;
			border-top-right-radius: 0;
		}

	}